<div>
    <p>
    &copy; 2023-14 Erick Odero.
    <a href="https://https://learn.codethedream.org/ctd-node-express-class-lesson-a-server-side-rendering-with-ejs/" title="Server Side Rendering with EJS">CTD EJS</a>;
    </p>
  </div>